src/main/webapp/wsdl/SimpleSOAPService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.soap.ws.mock.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.soap.ws.mock.com" xmlns:intf="http://service.soap.ws.mock.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.soap.ws.mock.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getAgentByCode">
    <complexType>
     <sequence>
      <element name="code" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAgentByCodeResponse">
    <complexType>
     <sequence>
      <element name="getAgentByCodeReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getAgentByCodeResponse">

      <wsdl:part element="impl:getAgentByCodeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAgentByCodeRequest">

      <wsdl:part element="impl:getAgentByCode" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="SimpleSOAPService">

      <wsdl:operation name="getAgentByCode">

         <wsdl:input message="impl:getAgentByCodeRequest" name="getAgentByCodeRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAgentByCodeResponse" name="getAgentByCodeResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SimpleSOAPServiceSoapBinding" type="impl:SimpleSOAPService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getAgentByCode">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAgentByCodeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAgentByCodeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SimpleSOAPServiceService">

      <wsdl:port binding="impl:SimpleSOAPServiceSoapBinding" name="SimpleSOAPService">

         <wsdlsoap:address location="http://localhost:8282/MockWebService/services/SimpleSOAPService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
